.weatherContainer {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333;
}

#search-form {
  margin-bottom: 20px;
}

#search-form input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-form button {
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#search-form button:hover {
  background-color: #0056b3;
}

#weather {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 100px;
}

p {
  margin: 10px 0;
  font-size: 1.2em;
}

.sideNav{
    border: 1px solid red;
}

.mainContainer{
    height: 100vh;
}

.mainInner{
    height: 100%;
}

/* 사이드 메뉴 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999; /* overlay보다 높은 값으로 설정 */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openNav{
    font-size: 30px;
    cursor: pointer;
}

/* 드롭다운 */
.dropdown_main {
    position: relative;
    display: inline-block;
    user-select: none;
}

.dropdown_bar {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.dropdown_bar svg {
    vertical-align: middle;
    margin-left: 5px;
}

.dropdown_content {
    position: absolute;
    display: none;
    margin-top: 5px;
    width: 157px;
    animation: fade-in 1s ease;
}

.dropdown_content a {
    text-align: left;
    color: #ffffff;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.drop_icon2 {
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
    top: 0px;
}

/* 카테고리 */
#category {
    position: absolute;
    top: 10px;
    left: 20px;
    border-radius: 5px;
    border: 1px solid #909090;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background: #fff;
    overflow: hidden;
    z-index: 2;
    display: flex;
    padding: 0;
  }
  
  #category li {
    list-style: none;
    width: 50px;
    border-right: 1px solid #acacac;
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
  }
  
  #category li:first-child {
    margin-left: 0;
  }
  
  #category li.on {
    background: rgb(221, 219, 219);
  }
  
  #category li:hover {
    background: #ffe6e6;
    border-left: 1px solid #acacac;
    margin-left: -1px;
  }
  
  #category li:last-child{
    margin-right: 0;
    border-right: 0;
  }
  
  #category li span {
    display: block;
    margin: 0 auto 3px;
    width: 27px;
    height: 28px;
  }
  
  #category li .category_bg {
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;
  }
  
  #category li .bank {
    background-position: -10px 0;
  }
  
  #category li .mart {
    background-position: -10px -36px;
  }
  
  #category li .pharmacy {
    background-position: -10px -72px;
  }
  
  #category li .oil {
    background-position: -10px -108px;
  }
  
  #category li .cafe {
    background-position: -10px -144px;
  }
  
  #category li .store {
    background-position: -10px -180px;
  }
  
  #category li.on .category_bg {
    background-position-x: -46px;
  }
  
  .placeinfo_wrap {
    position: absolute;
    bottom: 28px;
    left: -150px;
    width: 300px;
  }
  
  .placeinfo {
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    background: #fff;
  }
  
  .placeinfo:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
  }
  
  .placeinfo_wrap .after {
    content: '';
    position: relative;
    margin-left: -12px;
    left: 50%;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
  }
  
  .placeinfo a,
  .placeinfo a:hover,
  .placeinfo a:active {
    color: #fff;
    text-decoration: none;
  }
  
  .placeinfo a,
  .placeinfo span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .placeinfo span {
    margin: 5px 5px 0 5px;
    cursor: default;
    font-size: 13px;
  }
  
  .placeinfo .title {
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
    margin: -1px -1px 0 -1px;
    padding: 10px;
    color: #fff;
    background: #d95050;
    background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
  }
  
  .placeinfo .tel {
    color: #0f7833;
  }
  
  .placeinfo .jibun {
    color: #999;
    font-size: 11px;
    margin-top: 0;
  }